@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,300,500,600,700);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700);

@import url(http://fonts.googleapis.com/css?family=Oswald);

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

/* ----------------------------------------------------------------------------------- */
/* CSS Reset & Clear
/*----------------------------------------------------------------------------------- */
 

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,
var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
}

.clearfix {
    display: inline-block;
}

.clearfix {
    display: block;
}

.none {
    display: none;
}

body {
    line-height: 1.5em;
}

ol,ul,dl {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none!important;
}
/* Global styles
================================================== */
body {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: #6a6a6a!important;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #262626;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 60px;
}

h4 {
    line-height: 25px;
    font-size: 18px;
}

h5 {
    line-height: 25px;
    font-weight: 600;
}

p {
    line-height: 25px;
    font-weight: 400;
}

a {
    text-decoration: none!important;
}

.div-img {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 15px auto 20px;
    text-align: center;
}

/* Responsive styles
================================================== */

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {
    
}
/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
    
    .navbar-header{
        width: 20%;
    }
    .navbar-brand {
        height: 48px;
    }
    ul.navbar-nav a {
        padding: 15px 0px 10px 10px;
    }

    /*ABout us*/
    .feature_content .btn-main{
        margin-bottom: 40px;
    }

    /*backt top*/
    #back-top {
        right: 12px;
    }

    .footer_b {
        padding-bottom: 25px;
    }
    .footer_mid{
        float: left !important;
    }


}

/* Small Devices Potrait */
@media (max-width : 767px){
   
    /*header*/
    .navbar-brand img {
        height: 45px;
        margin-top: -16px;
    }

    /*footer*/
    .footer_b {
        padding-bottom: 21px;
    }
    .footer_mid{
        float: left !important;
    }
    
    .item{
        display: block;
        width: 100%;
        
    }
    .single-member{
        max-width: 90%;
        margin: 0 auto;
        
    }
    /*backt top*/
    #back-top {
        right: 12px;
    }
    

}

.btn-main {
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: #fff;
    border-radius: 0px;
    z-index: 1;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    padding: 18px 20px !important;
    /*height: 44px;*/
    text-transform: uppercase;
    margin-top: 60px;
    background: #333;
    color: #fff;
    border: 1px solid#333;
}

.product-items {
    margin-top: 40px;
}


 /*Divider
================================*/

.divider {
    display: block;
    margin: 20px auto;
    content: "";
    width: 70px;
    height: 5px;
}

.product {
    padding: 80px 0px;
}

/* Custom Basic styles
================================================== */
/* Header area
=========================================================== */

.main-nav {
    width: auto;
}

#section_header .haeder-fixed {
    background: #fff;
    padding: 10px 0px;
}

#section_header {
    background: #fff;
    padding: 10px 0px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

.navbar {
    position: relative;
    margin-top: 10px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px!important;
}

.navbar-brand {
    font-size: 40px;
    color: #222;
}

.navbar-brand img {
    height: 180%;
    width: auto;
    vertical-align: middle;
    max-width: 100%;
}

.navbar {
    margin-bottom: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    position: relative;
}

ul.navbar-nav a {
    font-weight: 700;
    font-size: 14px;
    padding: 15px 0 15px 30px;
    line-height: 34px;
    display: inline-block;
    text-transform: uppercase;
}

.nav > li > a:focus {
    background: transparent!important;
}

ul.navbar-nav > .active > a {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.nav > li > a:hover {
    background: transparent;
}

.navbar-nav .dropdown-menu {
    left: 0;
    right: auto;
}

.dropdown-menu * {
    width: 100%;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.navbar-nav .dropdown-menu {
    background: #555;
    border: 0;
    box-shadow: none;
    min-width: 240px;
    display: block;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition: visibility 500ms, opacity 500ms, -webkit-transform 500ms cubic-bezier(.43, .26, .11, .99);
    -moz-transition: visibility 500ms, opacity 500ms, -moz-transform 500ms cubic-bezier(.43, .26, .11, .99);
    -o-transition: visibility 500ms, opacity 500ms, -o-transform 500ms cubic-bezier(.43, .26, .11, .99);
    -ms-transition: visibility 500ms, opacity 500ms, -ms-transform 500ms cubic-bezier(.43, .26, .11, .99);
    transition: visibility 500ms, opacity 500ms, transform 500ms cubic-bezier(.43, .26, .11, .99);
}

.navbar-nav .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.navbar-nav .dropdown-backdrop {
    visibility: hidden;
}

.navbar-nav .dropdown-menu li {
    padding: 5px 20px 0;
}

.navbar-nav .dropdown-menu li:first-child {
    border-radius: 2px 2px 0 0;
}

.dropdown-menu li:last-child {
    border-radius: 0 0 2px 2px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 15px!important;
}

.dropdown-menu>li>a {
    font-size: 14px;
    padding: 5px 0;
    color: #fff;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, 
.dropdown-menu>li.active>a {
    background: none !important;
}
/*About Us
===================================*/
.nav-tabs {
    border-bottom: 0px;
}

.feature-tab {
    margin-top: 30px;
}

.single-feature {
    margin: 10px 0px;
    border-radius: 4px;
    position: relative;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

.single-feature:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: none repeat scroll 0% 0% #eee;
    left: -11px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 38%;
    opacity: 0;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

.single-feature:hover,.single-feature:hover.single-feature:after,
.nav-tabs li.active .single-feature,.nav-tabs li.active .single-feature:after {
    background: #eee;
    opacity: 1;
}

.nav-tabs > li > a {
    border: 0px!important;
}

.feature-icon {
    position: relative;
    margin: 15px auto;
    font-size: 34px;
    line-height: 80px;
}

.feature-content {
    padding: 10px 0px;
}

.feature-content h4 {
    line-height: 30px;
}

.feature-content p {
    margin: 10px 0px;
}

.tab-content {
}

.tab-content img {
    width: 100%;
    height: 100%;
}



/*Location
============================*/
#location {
}

.map {
    height: 450px;
    z-index: 1;
    width: 100%;
}
/* Contact Form
==============================================*/
#contact {
    background: #fff;
}

#contact .feature_header {
    margin: 20px 0px;
}

#contact .feature_title {
}

#contact .divider {
    color: #fff!important;
}

.left_contact {
    color: #E7E7E7;
    max-width: 850px;
}


.form-control {
    box-shadow: 0px!important;
}

.form {
    width: 100%;
    height: auto;
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    color: #7F7F7F;
    padding: 15px 15px 12px;
    border-radius: 0px;
    text-transform: capitalize!important;
    padding-left: 70px;
}

.right textarea {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid#EEE;
}

.right .form-control {
    box-shadow: 0px!important;
}

.contact_full .btn-main {
    margin-top: 20px;
}

.left h4,.right h4 {
    margin-bottom: 20px;
}

.contact_txt li {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px dotted#555;
    margin-bottom: 5px;
}

.contact_txt li:last-child {
    border-bottom: 0px;
}

.contact_txt i {
    float: left;
    color: #555;
    width: 40px;
    height: 40px;
    padding-top: 5px;
}

.contact_txt li p {
    color: #555;
}

.social-contact li i {
    color: #555;
    width: 30px;
    height: 30px;
    padding: 5px 0px 5px 7px;
    border: 1px solid#555;
    border-radius: 2px;
}
/*.social-contact li i:hover{
    color: #4593DE;
    border:1px solid #4593DE;
}*/
.form-icon {
    position: absolute;
    right: 0px;
    color: #DDD;
    top: 10px;
}

.form-level {
    position: relative;
}

.form-level input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #EEE;
    margin-bottom: 10px;
}

.form-level  span {
    width: 50px;
    font-size: 20px;
    padding-left: 17px;
    height: 47px;
    position: absolute;
    color: #888;
}
/*map*/

.form-level ::-webkit-input-placeholder {
    color: #555;
    text-transform: capitalize;
}

.form-level :-moz-placeholder {
 /* Firefox 18- */
    color: #555;
    text-transform: capitalize;
}

.form-level ::-moz-placeholder {
  /* Firefox 19+ */
    color: #555;
    text-transform: capitalize;
}

.form-level :-ms-input-placeholder {
    color: #555;
    text-transform: capitalize;
}
/* Footer Area
==========================================*/
#footer {
}

.footer_top {
    overflow: hidden;
    padding: 30px 0px 50px;
    border-bottom: 1px solid #0F0F0F;
    background: none repeat scroll 0% 0% #333;
    color: #AAA;
}

.footer_b {
    background: #222;
    border-top: 1px solid #555;
}

.footer_menu li a:before {
    display: inline-block;
    margin-right: 8px;
    color: #5B5B5B;
    content: "ï„…";
    font-family: FontAwesome;
}

.menu_head {
    color: #C5C5C2!important;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 15px 0px 35px 0px;
}

.menu_head:after {
    position: absolute;
    left: 18px;
    width: 55px;
    height: 1px;
    content: "";
    top: 49px;
}

.menu_head:before {
    position: absolute;
    left: 32px;
    width: 24px;
    height: 5px;
    content: "";
    display: inline-block;
    top: 47px;
}

.footer_mid ul li {
    margin-top: 20px;
}

.footer_menu ul li a {
    text-decoration: none;
    color: #9E9E9E;
    display: inline-block;
    padding: 5px 0px;
}

.footer_menu_contact ul li {
    padding: 5px 0px;
}

.footer_menu_contact li i {
    width: 20px;
}

.footer_menu_contact li span:hover {
    cursor: pointer;
}

.tags a {
    display: block;
    float: left;
    margin: 3px;
    padding: 8px 10px;
    background: none repeat scroll 0% 0% #2C2C2C;
    color: #C4C4C4;
    font-size: 14px;
    text-decoration: none;
}

.tags a:hover {
    color: #fff;
}

.footer_social {
    padding: 20px 0px;
}

.footer_social i {
    width: 50px;
    height: 50px;
    padding: 14px;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}

.footer_bottom {
}

.footer_bottom p {
    font-size: 18px;
    color: #C4C4C4;
    margin: 25px 0px;
}

/* Back To Top Button 
======================================*/

#back-top {
    width: 53px;
    height: 53px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 9999;
}

#back-top a {
    width: 100%;
    height: 100%;
    display: block;
    background: url(../images/back-top.png) no-repeat;
    opacity: 0.8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#back-top a:hover {
    opacity: 1;
}


.right-tags {
    margin-top: 30px;
}



/* Color styles
================================================== */
.btn-main:hover{
    background:#EE3B24;
    border:1px solid#EE3B24;
    color: #fff;
}
.btn-main.featured{
    background: #EE3B24;
    border:1px solid#EE3B24;
    color: #fff;
}
.btn-main.featured:hover{
    background: #333;
    color:#fff;
    border:1px solid#333;
}
/*Menu style
==================================*/
#section_header .haeder-fixed,#section_header{
    background: #fff;
}
.divider{
    background: #EE3B24;
    }
.navbar-brand:hover{
    color:#EE3B24;
}
ul.navbar-nav > .active > a{
    color:#EE3B24!important;
}
ul.navbar-nav > li > a:hover{
    color:#EE3B24!important;
}
ul.navbar-nav > .active > a,ul.navbar-nav > li > a:hover,.carousel-caption h4{
    color:#EE3B24!important;
}
.navbar-toggle .icon-bar{
    background:#000; 
}
.navbar-toggle {
    background: #ccc;
}

.navbar-brand span{
    color:#000;
}
ul.navbar-nav a {
    color: #3a3a3a;
}
ul.navbar-nav > .active> a:hover{
    color:#000 !important;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, 
.dropdown-menu>li.active>a{
    color: #EE3B24 !important;
}

.line{
    background: #EE3B24;
}

.sepTem{
    background: none repeat scroll 0% 0% #EE3B24;
}

.menu_head:after,.menu_head:before{
    background: none repeat scroll 0% 0% #EE3B24;
}

.footer_menu_contact li i,.footer_menu_contact li span:hover {
    color:#EE3B24;
}

.footer_menu ul li a:hover,.footer_menu li a:before,.footer_menu_contact li span:hover,.footer_bottom p span  {
    color: #EE3B24;
}
.tags a:hover{
    background:#EE3B24;
}


/* product Section Area
=============================== */
.single-member {
    height: auto;
    font-weight: 700;
    margin-bottom: 30px;
    width: 260px;
    border-radius: 7px;
    padding-bottom: 25px;
    margin: 0 10px;
}

.item .single-member h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.single-member h5 {
    padding-top: 10px;
    font-size: 18px;
    text-transform: capitalize;
}

.line2 {
    width: 40px;
    height: 3px;
    color: #222;
    margin: 0px auto;
}

.overlay-hover:hover .overlay-effect {
    opacity: 1;
    -webkit-transition: top 0.35s ease 0s;
    -o-transition: top 0.35s ease 0s;
    transition: top 0.35s ease 0s;
    top: 0px;
}

.overlay-hover {
    position: relative;
    overflow: hidden;
}

.overlay-effect {
    /*background: rgba(132,202,64,0.95);*/
    position: absolute;
    height: 240px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    top: -207px;
    -webkit-transition: top 0.35s ease 0s;
    -o-transition: top 0.35s ease 0s;
    transition: top 0.35s ease 0s;
    z-index: 10;
    border-radius: 7px 7px 0px 0px;
}

.overlay-hover img {
    width: 100%!important;
    height: 240px!important;
    border-radius: 7px 7px 0px 0px;
}

.overlay-effect ul.social {
    bottom: 5%;
    position: absolute;
    width: 100%;
}

.overlay-effect p {
    color: #fff;
    padding: 20px;
}

.overlay-effect ul.social li {
    padding: 10px 0px;
}

.overlay-effect ul.social i {
    width: 40px;
    height: 40px;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

.overlay-effect ul li a {
    text-decoration: none;
    color: #4E4E4E;
}

/* Carousel  product Css
=========================== */

.product-items {
    width: 100%;
    height: auto;
    position: relative;
    float: left;
}

.product-items .item {
    overflow: hidden;
    display: inline-block;
    margin: 0 auto;
}

.product-items .item img {
    margin-bottom: 25px;
}

.product {
    background: #FAFAFA;
}
.single-member {
    background: #fff;
}

.item .single-member h3 {
    color: #EE3B24!important;
}
.single-member h5 {
    color: #1F1F1F;
}
.line2{
    background: #EE3B24;
}
.overlay-effect{
    background: rgba(209,66,51,0.95);
}

.feature_title {
        width: 60%;
        font-size: 30px;
    }
    .feature_content .btn-main{
        margin-bottom: 40px;
    }

.feature_title {
    position: relative;
    padding-bottom: 10px;
    color: #000;
    font-weight: 00;
    width: 45%;
    margin: 10px auto;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
}

.feature_title:hover {
    cursor: pointer;
    animation: pulse 1s ease-in-out 100ms both;
    -webkit-animation: pulse 1s ease-in-out 100ms both;
    -o-animation: pulse 1s ease-in-out 100ms both;
}

.feature_sub {
    color: #000;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

.btn-main {
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: #fff;
    border-radius: 0px;
    z-index: 1;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    padding: 18px 20px !important;
    /*height: 44px;*/
    text-transform: uppercase;
    margin-top: 60px;
    background: #333;
    color: #fff;
    border: 1px solid#333;
}
